/* index.css */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: #000;
    overflow: hidden;
    display: block; /* 覆盖 flex 布局 */
}

/* 隐藏默认的滚动条 */
::-webkit-scrollbar {
    display: none;
}